.image {
  height: 25vh;
  background-size: cover !important;
  background-position: top !important;
  position: relative !important;
  clip-path: polygon(0 0, 100% 0, 100% 20vh, 0 100%) !important;
}

.title {
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 5px #fff;
  text-align: center;
}
