.slide {
  height: 95vh;
  background-size: cover !important;
  background-position: top !important;
  position: relative !important;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%) !important;
}
